.vscode/

Code/hardware/test/Macro\.hpp

Code/animation_generator/build/

Code/animation_generator/bin/
/Code/animation_generator/dat/Output.bin
*.~lock.*.odt\#

build/
bin/
target/
Cargo.lock
**/*.rs.bk

# Ignores for macOS:

## General
.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
Icon

## Thumbnails
._*

## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
